@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="greeting" class="display-4">Welcome To Acebook</h1>
    <a href="/signup" id="signup">Sign Up</a>
    <a href="/signin" id="signin">Sign In</a>
</div>
