<form action="/users" method="post">
  <input type='text' id='name' name='name' placeholder='name' />
  <input type='text' id='email' name='email' placeholder='email' />
  <input type='password' id='password' name='password'/>
  <input type='submit' id='submit' value='Submit' />
</form>