<form action="/users" method="post">
  <div><label> First Name<input type='text' id='firstname' name='FirstName'/></label></div>
  <div><label> Last Name<input type='text' id='lastname' name='LastName' /></label></div>
  <div><label> Email<input type='text' id='email' name='email' /></label></div>
  <div><label> Password<input type='password' id='password' name='password'/></label></div> 
  <div><label> Confirm Password <input type='password' id='confirmpassword' name='confirmpassword'/></label>
  <input type="checkbox" onclick="myFunction()">Show Passwords</div> 
  <input type='submit' id='submit' value='Submit' />
  @if(ViewBag.Error != null){
    <div id="error-message"> @ViewBag.Error </div>
  }

</form>

<script>
function myFunction() {
  var x = document.getElementById("password");
  var y = document.getElementById("confirmpassword");
  if (x.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
}
</script>