<div class="text-center">
    <h1 id="greeting" class="display-4">Welcome To Acebook</h1>
    
    <form action="/signin" method="post">
      <div><input type='email' id='email' name='email' placeholder='Email' required/></div>
      <div><input type='password' id='password' name='password' placeholder="Password" required/></div>
      <div><input type="checkbox" onclick="myFunction()">Show Password</div>
      <div><input type='submit' id='submit' value='Sign in' /></div>
      @if(ViewBag.Error != null){
        <div> id="error-message"> @ViewBag.Error </div>
      }
    </form>
    <a href="/signup" id="signup">Not a user? Sign up here!</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>