<style>
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
</style>


<div class="min-h-screen flex flex-col items-center justify-start p-4">
  <img src="images/light_grey.png" alt="SeaShark Logo" class="h-24 w-24" />

  <h1 id="greeting" class="text-3xl font-bold text-teal-600 text-center">Welcome To Sea Shark!</h1>
  <h2 class="text-xl font-semibold text-teal-600 text-center mb-6">Sign In</h2>

  <div class="bg-white rounded-lg p-6 shadow-md w-full max-w-md">

    <form class="flex flex-col space-y-4" action="/signin" method="post">
      <div>
        <label for="email" class="mb-1 block text-sm text-gray-700">Email</label>
        <input class="w-full border border-gray-400 rounded-lg p-2" type='text' id='email' name='email'
          placeholder='email' />
      </div>
      <div>
        <label for="password" class="mb-1 block text-sm text-gray-700">Password</label>
        <input class="w-full border border-gray-400 rounded-lg p-2" type='password' id='password' name='password' placeholder="password" />
      </div>

      <div class="flex items-center mt-2">
        <label for="Show-Password" class="ml-2 mr-2 text-md text-gray-700">Show Password</label>
        <input id="Show-Password" class="h-4 w-4" type="checkbox" onclick="myFunction()">
      </div>
      <div class="flex justify-center">
        <button type="submit"
          class="bg-teal-600 text-white text-sm font-medium w-48 px-4 py-2 rounded-md hover:bg-teal-400">Sign
          In</button>
      </div>
      @if (ViewBag.Error != null)
      {
        <div id="error-message"> @ViewBag.Error </div>
      }
    </form>
    <div class="text-center mt-4">
      <a class="text-teal-600 hover:underline" href="/signup" id="signup">Not a user? Sign up here!</a>
    </div>
    <script>
      function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
  </div>
</div>