@{
    ViewData["Title"] = "Account Settings";
}

<div class="text-center">
    <h1 id="greeting" class="display-4">Account Settings</h1>
    <a href="/signup" id="changepassword">Change Password</a>
    <a href="/signin" id="signin">Delete Account</a>
</div>